#title {
  
  color: white;
  margin: auto;
  text-align: left;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

h1 {
  /* font-family: "Montserrat", sans-serif; */
  color: white;
  font-size: 3rem;
  line-height: 1.5;
}



.nav-item {
  padding: 0 10px;
}

.top-container {
  text-align: center;
  
}

/* .title-section {

    width: 80%;
}  */

.download-button {
  margin: 5% 2% 5% 0;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
 
  
}





/* Features Section */

#features {
  padding: 7% 15%;
  background-color: #fff;
  /* z-index: 1; */
  position: relative;
}



.feature-section {
  padding: 5%;
  text-align: center;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

p {
  color: gray;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
  
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial Session */

#testimonials {
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
 
}

.testimonial-text {

    font-size: 3rem;
}

h2 {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
}

#press {
  text-align: center;
  background-color: #ff4c68;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Pricing Section */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}


/* Call to Action */

#cta {
    text-align: center;
    background-color: #ff4c68;
    color: #fff;}



.calltoaction {
        padding: 5%;
        margin-top: 20px;
      }



      #cta {
        text-align: center;
        background-color: #ff4c68;
        color: #fff;}
    
    
    @media (max-width: 1028px) {
        .title-image {
    
            position: static;
            transform: rotate(0);
        }
    
        #title {
            text-align: center;
        }
    }


    /* Footer Section */
    
    #footer {


        padding: 7% 15%;
        text-align: center;

    }


    .contacticons {

        margin: 20px 10px;
    
    }

    /* Headings */

    /* .big-heading {


    }

    .section-heading {


    } */


    /* Sections */

    .colored-section {

        background-color: #ff4c68;
        color: #fff
    }